.content {
  margin-top: 15rem;
  margin: 14rem;
  text-align: center;
  font-size: 2rem;
  color: #e6e6e6;
  &__text1 {
    transition: ease all 1s;
    &:hover {
      font-size: 2.3rem;
      color: black;
    }
  }
  &__text2 {
    transition: ease all 1s;
    &:hover {
      font-size: 2.3rem;
      color: black;
    }
  }
  &__text3 {
    transition: ease all 1s;
    &:hover {
      font-size: 2.3rem;
      color: black;
    }
  }
  &__text4 {
    transition: ease all 1s;
    &:hover {
      font-size: 2.3rem;
      color: black;
    }
  }
  &__text5 {
    transition: ease all 1s;
    &:hover {
      font-size: 2.3rem;
      color: black;
    }
  }
  &__text6 {
    transition: ease all 1s;
    &:hover {
      font-size: 2.3rem;
      color: black;
    }
  }
  &__text7 {
    transition: ease all 1s;
    &:hover {
      font-size: 2.3rem;
      color: black;
    }
  }
  &__text8 {
    transition: ease all 1s;
    &:hover {
      font-size: 2.3rem;
      color: black;
    }
  }
  &__text9 {
    transition: ease all 1s;
    &:hover {
      font-size: 2.3rem;
      color: black;
    }
  }
  &__text10 {
    transition: ease all 1s;
    &:hover {
      font-size: 2.3rem;
      color: black;
    }
  }
  &__text11 {
    transition: ease all 1s;
    &:hover {
      font-size: 2.3rem;
      color: black;
    }
  }
  &__text12 {
    transition: ease all 1s;
    &:hover {
      font-size: 2.3rem;
      color: black;
    }
  }
}
